<div>
	<h1>Your link is ready!</h1>
	<div class="url-box">
		<p class="l-url">Short url:</p>
		<p class="f-url"><%= @url.short_url %></p>
		<p class="l-url">Destination URL:</p>
		<p class="f-url"><%= @url.old_url %></p>
	</div>	
</div>
